<html>



<head>
    <meta http-equiv="Content-Language" content="tr">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1254">
    <title>Create a new study set</title>
</head>



<body bgcolor="#161922">


<table border="0" cellpadding="0" cellspacing="0" bgcolor="#161922" width="1141" height="477">
    <!-- MSTableType="layout" -->
    <tr>
        <td valign="top" colspan="4" height="64">
            <!-- MSCellType="ContentBody" -->
            <blockquote>
                <p align="center"><a href="index.htm">
                    <img border="0" src="vocarize-logo.png" width="129" height="121" align="left"></a></p>
                <p align="center">&nbsp;</p>
                <p align="center">&nbsp;</p>
                <p>&nbsp;</p>
            </blockquote>
        </td>
    </tr>
    <tr>
        <td valign="middle" colspan="4" height="40">
            <!-- MSCellType="ContentBody" -->
            <p align="center"><font color="#E3C651" face="Averia" size="5">Create a
                new study set</font></td>
    </tr>
    <tr>
        <td valign="top" colspan="4" height="40">
            <!-- MSCellType="ContentBody" -->
            &nbsp;</td>
    </tr>
    <tr>
        <td valign="middle" colspan="4" height="40">
            <!-- MSCellType="ContentBody" -->
            <form method="POST" action="--WEBBOT-SELF--">
                <!--webbot bot="SaveResults" U-File="C:\Users\Uneys\Desktop\Vocarize-Frontpage\_private\form_results.csv" S-Format="TEXT/CSV" S-Label-Fields="TRUE" -->
                <p align="center">
                    <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                    <input type="text" name="T1" size="50" value="Enter a Title"><input type="submit" value="Create" name="B1" style="float: right"></p>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td height="1" colspan="2"></td>
    </tr>
    <tr>
        <td valign="top" width="535">
            <!-- MSCellType="ContentBody" -->
            <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
            <input name="T2" size="50" value="Type your word" style="float: right"><p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T4" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T5" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T6" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T7" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T8" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T9" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T10" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T11" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T12" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T13" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T14" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T15" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T16" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T17" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T18" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T19" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T20" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T21" size="50" value="Type your word" style="float: right"></p>
            <p>&nbsp;</p>
            <p>
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T22" size="50" value="Type your word" style="float: right"></td>
        <td valign="top" width="25">
            <!-- MSCellType="ContentBody" -->
            &nbsp;<p>&nbsp;</p>
            <p>&nbsp;</td>
        <td valign="top" height="373" width="22">
            <!-- MSCellType="ContentBody" -->
            &nbsp;</td>
        <td valign="top" height="373" width="559">
            <!-- MSCellType="ContentBody" -->
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T3" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T23" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T24" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T25" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T26" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T27" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T28" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T29" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T30" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T31" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T32" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T33" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T34" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T35" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T36" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T37" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T38" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T39" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T40" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">
                <!--webbot bot="Validation" S-Display-Name="Enter a title" S-Data-Type="String" B-Allow-Letters="TRUE" B-Allow-Digits="TRUE" B-Allow-WhiteSpace="TRUE" -->
                <input name="T41" size="50" value="Type the definition" style="float: left"></p>
            <p align="left">&nbsp;</p>
            <p align="left">&nbsp;</td>
    </tr>
</table>



</body>



</html>