<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<head>
    <meta http-equiv="Content-Language" content="tr">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1254">
    <title>Vocarize</title>
    <meta name="keywords" content="Language, vocabulary, memorization">
    <meta name="description" content="Memorize Vocabulary">
</head>



<body topmargin="1" leftmargin="1" rightmargin="1" bottommargin="1" bgcolor="#161922">



<table border="0" cellpadding="0" style="border-collapse: collapse" bgcolor="#161922">
    <tr>
        <td height="85" width="211" rowspan="3" valign="middle">
            <p align="center"><a href="index.html">
                <img border="0" src="../img/vocarize-logo.png" width="138" height="137"></a></td>
        <td height="47" width="508" colspan="2" valign="top">&nbsp;</td>
        <td height="47" width="626" colspan="2">
            <p align="center"><font color="#C0C0C0">SIGN-IN</font></td>
    </tr>
    <tr>
        <td height="19" width="791" colspan="4">
            <p align="center"><font color="#C0C0C0">TESTS | LIBRARY
                | SEARCH STUDY SETS </font></td>
    </tr>
    <tr>
        <td height="19" width="791" colspan="4">&nbsp;</td>
    </tr>
    <tr>
        <td width="211" valign="top">
            <p align="center"><font color="#E3C651" face="Averia">Memorize
                Vocabulary</font></p></td>
        <td width="200" height="33">&nbsp;</td>
        <td width="307" height="33" style="border-bottom-style: solid; border-bottom-width: 1px">
            <p align="center">&nbsp;</td>
        <td width="301" height="33" style="border-bottom-style: solid; border-bottom-width: 1px">&nbsp;</td>
        <td width="327" height="33">&nbsp;</td>
    </tr>
    <tr>
        <td width="211" valign="top" rowspan="3">
            <p align="center">&nbsp;</p>
            <p align="center">
                <font face="Arial Unicode MS" color="#C0C0C0" size="2"><b>Vocabulary
                    Sets</b></font></p>
            <p align="center"><b>
                <font face="Arial Unicode MS" size="2" color="#C0C0C0">
                    <a href="create_a_new_study_set.htm" style="text-decoration: none">
                        <font color="#E3C651">+ Add new Set</font></a></font></b></p>
            <p>&nbsp;</td>
        <td width="200" style="border-right-style: solid; border-right-width: 1px" height="116">&nbsp;</td>
        <td width="306" style="border-style: solid; border-width: 1px" height="117">&nbsp;</td>
        <td width="300" style="border-style: solid; border-width: 1px" height="117">&nbsp;</td>
        <td width="327" style="border-left-style: solid; border-left-width: 1px" height="116">&nbsp;</td>
    </tr>
    <tr>
        <td width="200" height="89" rowspan="2">&nbsp;</td>
        <td width="307" height="90" rowspan="2" style="border-top-style: solid; border-top-width: 1px" valign="top">
            <form method="POST" action="--WEBBOT-SELF--">
                <!--webbot bot="SaveResults" U-File="fpweb:///_private/form_results.csv" S-Format="TEXT/CSV" S-Label-Fields="TRUE" -->
                <p align="center"><input type="button" value="&lt;" name="B3"><input type="button" value="&gt;" name="B1"></p>
            </form>
            <p align="right">&nbsp;</td>
        <td width="301" height="27" style="border-top-style: solid; border-top-width: 1px">
            <p align="center"><input type="button" value="&lt;" name="B4"><input type="button" value="&gt;" name="B5"></td>
        <td width="327" height="89" rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td width="301" height="63" valign="top">&nbsp;</td>
    </tr>
</table>



</body>



</html>